<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false"
      internalLogLevel="Warn"
      internalLogToConsole="true"
      internalLogFile="${specialfolder:folder=ApplicationData}/MLF/default.nlog">

  <extensions></extensions>
  <variable name="defaultLayout" value="${longdate}|${processid}:${threadid}|${logger}|${level}|${message:withException=true}" />

  <targets>
    <target name="dbgview" xsi:type="OutputDebugString" layout="${defaultLayout}" />
    <target name="console" xsi:type="ColoredConsole" layout="${defaultLayout}" />
    <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/MOTF/default.log" layout="${defaultLayout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="dbgview" />
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>